include mixins

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1.0, width=device-width')
        title Address book
        link(rel="stylesheet" href="css/main.min.css")
    body
        include popup/popup
        script(src="js/main.min.js")