@mixin font($size, $height, $color: $c-text) {
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin pos($type, $a, $b, $pos: absolute) {
  @if $type == 'topLeft' {
    top: $a;
    left: $b;
    position: $pos;
  } @elseif $type == 'topRight' {
    top: $a;
    right: $b;
    position: $pos;
  } @elseif $type == 'bottomLeft' {
    bottom: $a;
    left: $b;
    position: $pos;
  } @elseif $type == 'bottomRight' {
    bottom: $a;
    right: $b;
    position: $pos;
  }
}

@mixin input-placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

