$c-bg: rgba(0, 0, 0, 0.4);
$c-dark: #444;
$c-text: #666;
$c-title: #888;
$c-border: #aaa;
$c-input-border: #ccc;
$c-delimiter: #d8d8d8;
$c-light: #fff;
$c-shadow-sm: rgba(0, 0, 0, 0.2);
$c-shadow-lg: rgba(68, 68, 68, 0.5);
$c-border-shadow: #eee;
$c-bg-light: #fafafa;
$c-bg-gray: #f5f5f5;
$c-link: #4a90e2;
$c-link-hover: #3464E2;
$c-green-avatar: #3fc197;
$c-blue-avatar: #3296e6;
$c-red-avatar: #c13f5f;
$c-button: #ff9000;
$c-button-border: #fd7722;
$c-bg-checked: #fff9ef;
$c-border-checked: #ffa726;
$c-bg-active: #e5e5e5;
$c-bg-drop-down: #ebebeb;
$br: 3px;
$duration: .3s;
