.ab-control
    .check-item.check-item--control
        label
            input(type='check-box')
    .select-box
        label Sort by:
        select
            option(value='kind') Kind
            option(value='name') Name
            option(value='email') Email
    .ab-control__list
        .icon
            svg(width='16' height='16')
                use(xlink:href='#share')
        .icon
            svg(width='16' height='16')
                use(xlink:href='#edit')
        .icon
            svg(width='16' height='16')
                use(xlink:href='#share-1')
        .icon
            svg(width='16' height='16')
                use(xlink:href='#trash')