.ab-head
    a.ab-head__add-link(href='#')
        span.ic.ic--circle-plus
        span Add new
    .input-box
        input(type='text' placeholder='Search')
        .icon
            svg(width='16' height='16')
                use(xlink:href='#magnifying-glass-icon')