.ab-list
    +person-address('Douglas Barnett', 'moshe_gutkowski@adrianna.us', '', 'db')(class='person-avatar--green')
    +person-address('Iva Little', 'kaitlyn.rice@yahoo.com', '', 'il')(class='person-avatar--blue')
    +person-address('Jeremiah Lamb', 'dorcas.collier@yahoo.com', '', 'jl')(class='person-avatar--red')
    +person-address('Daisy Carlson', 'melyna_pagac@hotmail.com', 'img/pic-1.jpg')
    +person-address('Sallie Graves', 'maribel.mraz@goodwin.biz', 'img/pic-2.jpg')
    +person-address('Mary Nelson', 'selmer_batz@yahoo.com', 'img/pic-3.jpg')